body{
    width: 100vw;
    height: 100vh;
}
.input{
    display: none;
}
.main{
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: #96dcee;
    border: solid 3px #72cce3;
    display: inline-block;
    transition: .5s;
}
.main::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(255, 227, 65);
    box-shadow: 0px 0px 8px 5px rgba(255, 223, 44, 0.808);
    transition: .5s;
    top: 19%;
    left: 10%;
}
/* .main::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    right: 25%;
    border-radius: 10px;
    box-shadow: 10px 2px 30px 0 black;
    background-color: wheat;
} */
.input:checked + .main::after{
    box-shadow: 0px 0px 8px 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    left: 60%;
}
.input:checked ~ .main{
    background-color: #808fc7;
    border: solid 3px #5d6baa;
}